
nav
{
    background-color: rgb(203, 153, 126) ;
}


.nav-item
{
    margin-left: 20px;
}


.cardTitle
{
    color: grey;
    font-size: 18px;
}

a
{
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover
{
    opacity: 0.7;
}

#imageAccueil
{
    background-image: url("/image/bibliotheque-accueil.jpg");
    background-position: center center;
    background-repeat: no-repeat;
   /* background-attachment: fixed;*/
    background-size: cover;
    background-color: #464646;
    height: 900px;
}

.imageTitle
{
    width: 100%;
    font-family: Apple Chancery, cursive;
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.cadreButton
{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    background: rgba(112,250,239,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e7e7e7;
    border-radius: 21px;

}

.buttonLogAccueil
{
    background-color: rgba(245,234,125,0.6);
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 21px;
    width: 150px;
    height: 50px;
}

.buttonLogAccueil a
{
    color : gray;
}

.buttonLogAccueil:hover
{
    background-color: rgba(125,245,210,0.7);
}

.cadreImage
{
    padding-bottom: 20px;
}

.affichage
{
    background-color: black;
}

.cardLivre
{
    box-shadow: 0 4px 8px 0 rgb(0 0 0);
    max-width: 350px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.cardLivre img
{
    height: 400px;
    width: 300px;
}



/**---- Examplaire -----**/
.rowExamplaire{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.cardExamplaire {
    /*float: left;*/
    max-width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
}

.cardExamplaire > img {
    margin-bottom: .75rem;
}

.card-textExamplaire {
    font-size: 85%;
}

.cadreLivre
{
    height: 300px;
    width: 100%;
    text-align: center;
    background-color: red;
}

.cadreLivre img
{
    height: 50%;
    width: 200px;
}