
nav
{
    background-color: rgb(203, 153, 126) ;
}


.nav-item
{
    margin-left: 20px;
}



a
{
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover
{
    opacity: 0.7;
}


/**-----Accueil -----**/

#imageAccueil
{
    background-image: url("/image/bibliotheque-accueil.jpg");
    background-position: center center;
    background-repeat: no-repeat;
   /* background-attachment: fixed;*/
    background-size: cover;
    background-color: #464646;
    height: 900px;
}

.imageTitle
{
    width: 100%;
    font-family: Apple Chancery, cursive;
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.cadreButton
{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    background: rgba(112,250,239,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e7e7e7;
    border-radius: 21px;

}

.buttonLogAccueil
{
    background-color: rgba(245,234,125,0.6);
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 21px;
    width: 150px;
    height: 50px;
}

.buttonLogAccueil a
{
    color : gray;
}

.buttonLogAccueil:hover
{
    background-color: rgba(125,245,210,0.7);
}

.cadreImage
{
    padding-bottom: 20px;
}

.affichage
{
    background-color: black;
}


.cadreRappel
{
    width: 100%;
    height: 600px;
    background: rgba(112,250,239,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e7e7e7;
    border-radius: 21px;
}




/**------liste - Livre -------**/

.fondListe
{
    width: 100%;
    height: 100%;
    background-color: rgba(5,210,248,0.3);

}

.containerListe
{
    padding-right: 9%;
    padding-left: 9%;
    min-height: 1300px;
}

.cadreTitle
{

    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Title
{
    text-decoration: underline;
    text-decoration-color: white;
    font-size: 50px;
    font-family: Georgia, serif;
}


.cadreListe
{
    margin: 25px;
    padding: 25px;
    border-top-style: outset;
    border-radius: 10px;
    border-right-style: inset;
    border-left-style: inset;
    background-color: rgba(41,202,250,0.3);
}

.liste
{
    display: flex;
    flex-wrap: wrap;
    font-family: Georgia, serif;
}
.cardLivre
{
    box-shadow: 0 4px 8px 0 rgb(0 0 0);
    width: auto;
    height: 600px;
    background-color: rgba(72,250,229,0.4);
    margin: 10px;
}

.cardLivre img
{
    box-shadow: 0 4px 8px 0 rgb(0 0 0);
    width: 300px;
    height: 400px;
    margin: auto;
    text-align: center;
    background-color: rgba(145,206,255,0.5);
}

.cardTitle
{
    color: grey;
    font-size: 25px;
    text-decoration: underline;
    padding-top: 5px;
    padding-bottom: 10px;
}


.infoCardLivre
{
    max-width: 300px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 20px;
}

.cadreButtonLivre
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}



.espaceListeLivre
{
    background-color: rgba(152,163,245,0.5);
}

.cadreButtonLivre button
{
    background-color: white;
    background-color: rgba(41,202,250,0.5);
    border-radius: 10px;
}

.cadreButtonLivre a
{
    font-size: 25px;

}

.cadreButtonLivre a:hover
{
    background-color: rgba(41,202,250,1);
    color: white;
    text-decoration: underline;
    text-decoration-color: red;

}


/**----Liste  Examplaire -----**/


.rowExamplaire{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: rgba(105,219,224,0.3);
}
.cardExamplaire {
    /*float: left;*/
    padding: .75rem;
    border: 0;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgba(99,126,239,0.2);
    margin: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 400px;
}

.cardExamplaireimg {
    height: 300px;
    width: 300px;
}

.card-textExamplaire {
    font-size: 85%;
}

.cadreLivre
{
    height: 300px;
    width: 100%;
    text-align: center;
    background-color: rgba(96,255,229,0.8);
}

.cadreLivre img
{
    height: 50%;
    width: 200px;
}