
nav
{
    background-color: rgb(203, 153, 126) ;
}


.nav-item
{
    margin-left: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.card image {

    height: 200px;
    width: 300px;
}

.cardTitle
{
    color: grey;
    font-size: 18px;
}

a
{
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover
{
    opacity: 0.7;
}

#imageAccueil
{
    background-image: url("/image/bibliotheque-accueil.jpg");
    background-position: center center;
    background-repeat: no-repeat;
   /* background-attachment: fixed;*/
    background-size: cover;
    background-color: #464646;
    height: 900px;
}

.imageTitle
{
    width: 100%;
    font-family: Apple Chancery, cursive;
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.cadreButton
{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    background: rgba(112,250,239,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e7e7e7;
    border-radius: 21px;

}

.buttonLogAccueil
{
    background-color: rgba(245,234,125,0.6);
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 21px;
    width: 150px;
    height: 50px;
}

.buttonLogAccueil a
{
    color : gray;
}

.buttonLogAccueil:hover
{
    background-color: rgba(125,245,210,0.7);
}

.cadreImage
{
    padding-bottom: 20px;
}

.affichage
{
    background-color: black;
}
