
nav
{
    background-color: rgb(203, 153, 126) ;
}


.nav-item
{
    margin-left: 20px;
}


a
{
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.container
{

}

.row
{

}

.col
{

}
.cadreImage
{

}


.containerImage
{

}

.containerImage img
{

}

.containerInfo
{

}

tr
{

}

.buttonCreation
{

}

.buttonCreation button
{

}

.buttonCreation button:hover
{

}

.buttonCreation a
{

}

.buttonCreation a:hover
{

}

