<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />

    <meta charset="UTF-8">
    <title>Espace </title>
</head>
<body>


<table >
    <tr>
        <th>id</th>
        <th>username</th>
    </tr>
   <tr>
       <td>
           <p th:utext="${user.id}"></p>
       </td>
       <td>
           <p th:utext="${user.username}"></p>
       </td>
   </tr>
</table>

<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>