<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscription </title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/log.css}"/>
    <link rel="stylesheet"  th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>

</head>
<body>


<div class="container">

    <!-- Inscription-->
    <form action="#" class="form-signin" method="post" th:action="@{/register}" th:object="${user}">
        <h2 class="form-heading">Log in</h2>

        <div class="form-group">

            <input name="username" type="text" class="form-control" placeholder="Username"
                   autofocus="true" th:field="${user.username}"/>

            <input name="password" type="password" class="form-control" placeholder="Password"
                   th:field="${user.password}"/>

            <input name="matchingPassword" type="password" class="form-control" placeholder="Password"
                   th:field="${user.matchingPassword}"/>

            <input name="mail" type="email" class="form-control" placeholder="email"
                   th:field="${user.email}"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
        </div>
    </form>

    <!-- BTNS -->
    <div class="row">

        <div class="col">
            <button class="btn btn-outline-dark">
                <a th:href="@{/}">Accueil</a>
            </button>
        </div>

        <div class="col">
            <button class="btn btn-outline-dark">
                <a th:href="@{/login}">Se connecter </a>
            </button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>