<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/log.css}"/>
    <link rel="stylesheet"  th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
</head>

<body id="bodyLog">

<!-- Menu -->
<header>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand" th:href="@{/}" >Bibliotheque </a>

        <!-- btn toggle -->
        <div>
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarContent">
                <span class="navbar-toggler-icon" ></span>
            </button>
        </div>

        <div  class="collapse navbar-collapse" id="navbarContent" >
            <ul class="navbar-nav  mr-auto mt-2 mt-lg-0  ">

                <!-- Livres -->
                <li class="nav-item active ">
                    <a class="nav-link" th:href="@{/livres/all}">Livres</a>
                </li>

                <!-- Espace Perso-->
                <li class="nav-item" th:if="${user.connected}">
                    <a class="nav-link" th:href="@{/espace(jwt=${user.jwt})}">Espace</a>
                </li>

                <!-- Login -->
                <li class="nav-item " th:if="${!user.connected}">
                    <a class="nav-link" th:href="@{/login}">Sign in</a>
                </li>

                <!-- Inscription  -->
                <li class="nav-item " th:if="${!user.connected}">
                    <a class="nav-link" th:href="@{/register}">Sign up</a>
                </li>

            </ul>

        </div>
    </nav>
</header>


<div class="container">

    <div class="cadre">
        <!-- Login -->
        <form action="#" class="form-signin" method="post"
              th:action="@{/authenticate}" th:object="${utilisateur}">


            <h2 class="form-heading titleLogin">Log in</h2>

                <div class="form-group attLog">

                    <div class="cadreFormulaire">
                        <label class="formulaire">
                            Username :
                            <input name="username" type="text" class="form-control" placeholder="Username"
                                   autofocus="true" th:field="${utilisateur.username}"/>
                        </label>

                        <label class="formulaire">
                            Password :
                            <input name="password" type="password" class="form-control" placeholder="Password"
                                   th:field="${utilisateur.password}"/>
                        </label>
                    </div>
                    <div class="btnLog">
                        <button class="btn" type="submit">Log In</button>
                    </div>


                </div>

        </form>


        <!-- BTNS-->
        <div class="cadrebuttonRetour">

                <button class="buttonRetour">
                    <a th:href="@{/}">Accueil</a>
                </button>

                <button class="buttonRetour">
                    <a th:href="@{/register}">S'inscrire </a>
                </button>

        </div>

    </div>




</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>