<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Accueil</title>

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet"  th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>



</head>
<body>

<!-- Menu -->
 <header>

     <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
         <a class="navbar-brand" th:href="@{/}" >Bibliotheque </a>

        <!-- btn toggle -->
         <div>
             <button class="navbar-toggler" type="button"
                     data-toggle="collapse" data-target="#navbarContent">
                 <span class="navbar-toggler-icon" ></span>
             </button>
         </div>

         <div  class="collapse navbar-collapse" id="navbarContent" >

             <ul class="navbar-nav  mr-auto mt-2 mt-lg-0  ">

                     <!-- Livres -->
                     <li class="nav-item">
                         <a class="nav-link" th:href="@{/livres/all}">Livres</a>
                     </li>

                     <!-- Espace Perso-->
                     <li class="nav-item" th:if="${user.connected}">
                         <a class="nav-link" th:href="@{/espace(jwt=${user.jwt})}">Espace</a>
                     </li>

                     <!-- Login -->
                     <li class="nav-item " th:if="${!user.connected}">
                         <a class="nav-link" th:href="@{/login}">Sign in</a>
                     </li>

                     <!-- Inscription  -->
                     <li class="nav-item " th:if="${!user.connected}">
                         <a class="nav-link" th:href="@{/register}">Sign up</a>
                     </li>


                     <!-- btn logout -->
                     <li class="nav-item"  th:if="${user.connected}" >

                         <!--  <a th:url="/logout">">Logout</a> -->
                         <a class="nav-link" th:href="@{/logout}">Logout</a>
                     </li>

             </ul>

             <form class="form-inline my-2 my-lg-0" th:action="@{/search}">
                 <input class="form-control mr-sm-2" type="search" name="search" placeholder="Recherche" aria-label="Search">
                 <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Recherche</button>
             </form>
         </div>
     </nav>
 </header>

    <!-- Partie Image & Login -->
    <div id="imageAccueil">
        <div class="container">

            <!-- MSG -->
            <div class="row" th:if="${!user.connected}">
                <div class="imageTitle">
                    <p>Bienvenue dans votre bibliothèque </p>
                </div>
            </div>

            <div class="row" th:if="${user.connected}">
                <div class="imageTitle">
                    <p>Content de vous revoire</p>
                </div>
            </div>



            <!-- BTNS -->
            <div class="row" th:if="${!user.connected}">

                <div class="cadreButton">

                    <div>
                        <button class="buttonLogAccueil">
                            <a th:href="@{/login}"> login </a>
                        </button>


                        <button class="buttonLogAccueil">
                            <a th:href="@{/register}">Inscription </a>
                        </button>
                    </div>

                </div>
            </div>

            <div class="row" th:if="${user.connected}">


                <div class="cadreCarousel">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">

                           <div class="carousel-item active">

                                <div class="itemCarousel">

                                    <div class="infoCarousel">

                                        <div class="info">
                                            <table>
                                                <tbody>

                                                <tr>
                                                    <th>Titre  </th>
                                                    <td th:utext="${listeCarousel.get(0).titre}"></td>
                                                </tr>

                                                <tr>
                                                    <th>Auteur  </th>
                                                    <td th:utext="${listeCarousel.get(0).auteur}"></td>
                                                </tr>

                                                <tr>
                                                    <th>Résumé </th>
                                                    <td th:utext="${listeCarousel.get(0).description}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="btnLivre">
                                            <button>
                                                <a th:href="@{/livre/Examplaires(id=${listeCarousel.get(0).id})}">Voir le livre</a>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="imageCarousel">
                                        <img th:src="@{'/image/' + ${listeCarousel.get(0).titreImage}}" th:alt="${listeCarousel.get(0).titreImage}"/>
                                    </div>
                                </div>
                            </div>

                           <div class="carousel-item"  >
                                <div class="itemCarousel">

                                    <div class="infoCarousel">

                                        <div class="info">
                                            <table>
                                                <tbody>

                                                <tr>
                                                    <th>Titre  </th>
                                                    <td th:utext="${listeCarousel.get(1).titre}"></td>
                                                </tr>

                                                <tr>
                                                    <th>Auteur  </th>
                                                    <td th:utext="${listeCarousel.get(1).auteur}"></td>
                                                </tr>

                                                <tr>
                                                    <th>Résumé </th>
                                                    <td th:utext="${listeCarousel.get(1).description}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="btnLivre">
                                            <button>
                                                <a th:href="@{/livre/Examplaires(id=${listeCarousel.get(1).id})}">Voir le livre</a>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="imageCarousel">
                                        <img th:src="@{'/image/' + ${listeCarousel.get(1).titreImage}}" th:alt="${listeCarousel.get(1).titreImage}"/>
                                    </div>


                                </div>
                            </div>


                            <div class="carousel-item"  >
                                    <div class="itemCarousel">

                                        <div class="infoCarousel">

                                            <div class="info">
                                                <table>
                                                    <tbody>

                                                    <tr>
                                                        <th>Titre  </th>
                                                        <td th:utext="${listeCarousel.get(2).titre}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Auteur  </th>
                                                        <td th:utext="${listeCarousel.get(2).auteur}"></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Résumé </th>
                                                        <td th:utext="${listeCarousel.get(2).description}"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="btnLivre">
                                                <button>
                                                    <a th:href="@{/livre/Examplaires(id=${listeCarousel.get(2).id})}">Voir le livre</a>
                                                </button>
                                            </div>

                                        </div>
                                        <div class="imageCarousel">
                                            <img th:src="@{'/image/' + ${listeCarousel.get(2).titreImage}}" th:alt="${listeCarousel.get(2).titreImage}"/>
                                        </div>


                                    </div>
                                </div>


                            <div class="carousel-item"  >
                                <div class="itemCarousel">

                                    <div class="infoCarousel">

                                        <div class="info">
                                            <table>
                                                <tbody>

                                                <tr>
                                                    <th>Titre  </th>
                                                    <td th:utext="${listeCarousel.get(3).titre}"></td>
                                                </tr>

                                                <tr>
                                                    <th>Auteur  </th>
                                                    <td th:utext="${listeCarousel.get(3).auteur}"></td>
                                                </tr>

                                                <tr>
                                                    <th>Résumé </th>
                                                    <td th:utext="${listeCarousel.get(3).description}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="btnLivre">
                                            <button>
                                                <a th:href="@{/livre/Examplaires(id=${listeCarousel.get(3).id})}">Voir le livre</a>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="imageCarousel">
                                        <img th:src="@{'/image/' + ${listeCarousel.get(3).titreImage}}" th:alt="${listeCarousel.get(3).titreImage}"/>
                                    </div>


                                </div>
                            </div>



                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="Footer">
        Copyright © 2021, All Right Reserved
    </div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>




</body>
</html>