<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />

</head>
<body>

    <h1> Voulez vous valider ce pret ? </h1>

    <div style="height: 200px; width: 100%">
    </div>

    <table>
        <thead>
        <tr style="width: 100%">
            <th>id</th>
            <th>date_debut</th>
            <th>date_fin</th>
            <th>utilisateur</th>
            <th>examplaire</th>
        </tr>
        </thead>
        <tbody>
        <tr style="width: 100%">
            <td th:utext="${pret.id}"></td>
            <td th:utext="${pret.date_debut}"></td>
            <td th:utext="${pret.date_fin}"></td>
            <td th:utext="${pret.id_user}"></td>
            <td th:utext="${pret.id_examplaire}"></td>
            <td th:utext="${pret.statut}"></td>
        </tr>
        </tbody>
    </table>

<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>