<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />

    <meta charset="UTF-8">
    <title>Finish </title>
</head>
<body>

    <div style="height: 200px;width: 100%">
        <h1>Veux tu rendre ce livre ? </h1>
    </div>


    <!-- le pret -->
    <div class="row">
        <table  border="1">
            <tr>
                <th>Id</th>
                <th>Statut</th>
                <th>Username</th>
                <th>Livre</th>
            </tr>

            <tr>
                <td>
                    <p th:utext="${pret.id}"></p>
                </td>

                <td>
                    <a th:utext="${pret.statut}" ></a>
                </td>
                <td>
                    <a th:utext="${pret.username}"></a>
                </td>

                <td>
                    <p th:utext="${pret.titre}"></p>
                </td>


            </tr>
        </table>
    </div>

    <div style="height: 200px;width: 100%">
        <h1>Ici le commentaire de l'user sur le livre </h1>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-outline-primary">
                <a th:href="@{/validate/finish(id=${pret.id})}">oui</a>
            </button>
        </div>
        <div class="col">
            <button class="btn btn-outline-primary">
                <a>non (pas fait) </a>
            </button>
        </div>
    </div>


<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>