<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns="http://www.w3.org/1999/html">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Validation d'un Pret </title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

</head>
<body>

<!-- Menu -->
<header>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand" th:href="@{/}" >Bibliotheque </a>

        <!-- btn toggle -->
        <div>
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarContent">
                <span class="navbar-toggler-icon" ></span>
            </button>
        </div>

        <div  class="collapse navbar-collapse" id="navbarContent" >
            <ul class="navbar-nav  mr-auto mt-2 mt-lg-0  ">

                <!-- Livres -->
                <li class="nav-item active ">
                    <a class="nav-link" th:href="@{/livres/all}">Livres</a>
                </li>

                <!-- Espace Perso-->
                <li class="nav-item" th:if="${user.connected}">
                    <a class="nav-link" th:href="@{/espace(jwt=${user.jwt})}">Espace</a>
                </li>

                <!-- Login -->
                <li class="nav-item " th:if="${!user.connected}">
                    <a class="nav-link" th:href="@{/login}">Sign in</a>
                </li>

                <!-- Inscription  -->
                <li class="nav-item " th:if="${!user.connected}">
                    <a class="nav-link" th:href="@{/register}">Sign up</a>
                </li>

            </ul>

        </div>
    </nav>
</header>


<h1>Votre Pret a été valider ! </h1>

<div style="height: 200px;width: 100%;">
</div>

<h1>Compte rendu du pret </h1>

<table>
    <thead>
    <tr style="width: 100%">
        <th>id</th>
        <th>date_debut</th>
        <th>A rendre  </th>
        <th>utilisateur</th>
        <th>titre</th>
        <th>statut</th>
    </tr>
    </thead>
    <tbody>
    <tr style="width: 100%">
        <td th:utext="${pret.id}"></td>
        <td th:utext="${pret.date_debut}"></td>
        <td th:utext="${pret.date_fin}"></td>
        <td th:utext="${pret.username}"></td>
        <td th:utext="${pret.titre}"></td>
        <td th:utext="${pret.statut}"></td>
    </tr>
    </tbody>
</table>

<div class="row">
    <div class="col">
        <button class="btn btn-outline-primary">
            <a>Retour a la liste de livre (pas fini) </a>
        </button>
    </div>
    <div class="col">
        <button class="btn btn-outline-primary">
            <a  th:href="@{/espace(jwt=${user.jwt})}" >Ma liste de Pret </a>
        </button>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>